<div id="sideBar">
    <div id="sideBarHeader">
        <div class="avatarContainer">
            <img height = "35" src="../assets/images/noPic.svg">
        </div>
        <div class="actionsContainer">
            <img src="../assets/images/statusIcon.svg">
            <img src="../assets/images/chatIcon.svg">
            <img src="../assets/images/moreVertIcon.svg">
        </div>
    </div>
    <div id="searchBox">
      <img width = "30"  height = "35" src="../assets/images/searchIcon.svg">
      <input type="text" placeholder = "search or start a new chat">
    </div>
    <!--<div id="noConversations">
      All chats are archived
    </div>-->
    <div id="sideBarContent">
      <div 
        class="conversation"
        *ngFor = "let conversation of !searchText ? conversations : filteredConversations"
        (click) = "conversationClicked.emit(conversation)"
      >
        <div class="picture">
          <img src="../assets/images/noPic.svg">
        </div>
        <div class="content">
          <div class="conversationHeader">
            <div class="name">{{ conversation.name }}</div>
            <div class="time">{{ conversation.time }}</div>
          </div>
          <div class="message">
            <img *ngIf = "!conversation.latestMessageRead" src="../assets/images/doubleTick.svg">
            <img *ngIf ="conversation.latestMessageRead" src="../assets/images/doubleTickBlue.svg">
            {{ conversation.latestMessage }}
          </div>
        </div>
      </div>
    </div>
  </div>